{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<text-field :field="titleField" @input="title = $event"></text-field>
<identifier-field :field="{{ json_field(form.identifier) }}" :input="title"></identifier-field>
<markdown-field :field="{{ json_field(form.description) }}"></markdown-field>
<select-field :field="{{ json_field(form.visibility) }}"></select-field>
<dynamic-select-field endpoint="{{ url_for('api.select_tags') }}"
                      :field="{{ json_field(form.tags) }}"
                      :max-input-length="{{ form.tags.max_len }}"
                      :multiple="true"
                      :tags="true"
                      placeholder="{% trans %}Enter or search for tags{% endtrans %}">
</dynamic-select-field>
