{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<popover-toggle class="float-right" toggle-class="">
  <template #toggle>
    <span class="text-muted">
      <i class="fas fa-question-circle"></i> Help
    </span>
  </template>
  <template #content>
    {% trans trimmed %}
      This view allows easier management of access rights of records inside this collection.
    {% endtrans %}
    {% trans trimmed %}
      The selected role is applied to all records listed below, which are all linked records whose permissions can be
      changed by the current user.
    {% endtrans %}
    <hr>
    {% trans trimmed %}
      When selecting an empty role, the existing roles of all selected users and groups are removed instead.
    {% endtrans %}
  </template>
</popover-toggle>
<submission-form selector="#{{ records_form.submit.id }}">
  {{ render_csrf() }}

  <dynamic-select-field endpoint="{{ url_for('api.select_users') }}"
                        placeholder="{% trans %}Search for users{% endtrans %}"
                        :field="{{ json_field(records_form.users) }}"
                        :request-params="{exclude: [{{ collection.creator.id }}]}"
                        :multiple="true">
  </dynamic-select-field>
  <dynamic-select-field endpoint="{{ url_for('api.select_groups') }}"
                        placeholder="{% trans %}Search for groups{% endtrans %}"
                        :field="{{ json_field(records_form.groups) }}"
                        :multiple="true">
  </dynamic-select-field>
  <select-field :field="{{ json_field(records_form.role) }}"></select-field>
  <div class="d-flex justify-content-between">
    <submit-field :field="{{ json_field(records_form.submit) }}"></submit-field>
    <roles-popover :roles="{{ get_object_roles('record') | force_json }}"></roles-popover>
  </div>
</submission-form>
<hr>
<resource-view title="{% trans %}Linked records{% endtrans %}"
               placeholder="{% trans %}No records.{% endtrans %}"
               endpoint="{{ url_for('api.get_collection_records', id=collection.id, action=['permissions'],
                                    _internal=True) }}"
               :enable-description="false"
               :enable-filter="true">
</resource-view>
