{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block content %}
  <div class="card">
    {% include "records/snippets/manage_record_menu.html" %}

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% snippet "nav_item",
                   url=url_for("records.view_record", id=record.id),
                   body='<i class="fas fa-chevron-left"></i>' %}

        {% snippet "nav_item",
                   url=url_for("records.export_record", id=record.id, export_type=export_type),
                   body="<strong>{}</strong>".format(_("Export")) %}
      </ul>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between">
        <h5>{{ title}}</h5>
        <a class="btn btn-sm btn-light mb-3"
           href="{{ url_for('api.download_record_export', id=record.id, export_type=export_type) }}">
          {% trans %}Download{% endtrans %}
         </a>
      </div>
      <div class="card bg-light">
        <div class="card-body">
          <pre style="max-height: 75vh;">{{ data }}</pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
