{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.manage_links", id=record.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "records/snippets/manage_record_menu.html" %}

    <div class="card-header">
      <nav-tabs class="card-header-tabs"
                :items="[{id: 'link-records', param: 'records', content: '{% trans %}Records{% endtrans %}'},
                         {id: 'link-collections', param: 'collections', content: '{% trans %}Collections{% endtrans %}'}]">
      </nav-tabs>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div id="link-records" class="tab-pane">
          {% include "records/snippets/link_records.html" %}
        </div>
        <div id="link-collections" class="tab-pane">
          {% include "records/snippets/link_collections.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="application/javascript" nonce="{{ csp_nonce() }}">
    new Vue({
      el: '#vm',
      methods: {
        removeRecordLink(recordLink) {
          if (!confirm(i18n.t('warning.removeIdentifier', {identifier: recordLink.name}))) {
            return;
          }

          this.$set(recordLink, 'disabled', true);

          axios.delete(recordLink._actions.remove_link)
            .then(() => {
              this.$refs.pagination.update();
              kadi.alert(i18n.t('success.removeRecordLink'), {type: 'success', scrollTo: false});
            })
            .catch((error) => {
              kadi.alert(i18n.t('error.removeRecordLink'), {xhr: error.request});
              recordLink.disabled = false;
            });
        },
      },
    });
  </script>
{% endblock %}
