{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">{% trans %}About{% endtrans %}</div>
    <div class="card-body">
      {{ template_hook("kadi_template_about_before") }}

      <div class="d-flex justify-content-between align-items-end">
        <a href="{% trans %}https://www.kit.edu/english{% endtrans %}" class="mr-5">
          <img class="img-fluid mb-4" src="{{ static_url('images/kit.png') }}" width="140">
        </a>
        <a href="{% trans %}https://www.iam.kit.edu/cms/english{% endtrans %}">
          <img class="img-fluid mb-4" src="{{ static_url('images/iam.png') }}" width="120">
        </a>
      </div>
      <p>
        <strong>Kadi4Mat</strong> is the <strong>Karlsruhe Data Infrastructure for Materials Science</strong>, a
        software for managing research data with the aim of combining new concepts with established technologies and
        existing solutions.
      </p>
      <p>
        The aim of this project is to combine the ability to manage and exchange data (the <em>Repository</em>) with the
        possibility to analyze, visualize and transform said data (the <em>Electronic Lab Notebook</em>). The latter is
        made possible by employing a modular architecture, which allows to cover the specific needs of different
        scientists each utilizing unique workflows, while also opening the possibility to easily branch out into other
        disciplines in the future. Eventually, the goal is to cover the whole scientific workflow of day to day
        research, starting from the creation of data, including interfacing with devices for experimenters, up to the
        publishing of the data as well as corresponding results.
      </p>
      <p>
        Kadi4Mat is being developed as part of several research projects at the
        <a href="{% trans %}https://www.iam.kit.edu/cms/english{% endtrans %}">
          <strong>Institute for Applied Materials - Computational Materials Science (IAM-CMS)</strong>
        </a>
        of the
        <a href="{% trans %}https://www.kit.edu/english{% endtrans %}">
          <strong>Karlsruhe Institute of Technology (KIT).</strong>
        </a>
      </p>
      <hr>
      <strong>More information:</strong>
      <a href="https://kadi.iam-cms.kit.edu">https://kadi.iam-cms.kit.edu</a>
      <br>
      <strong>Source code:</strong>
      <a href="https://gitlab.com/iam-cms/kadi">https://gitlab.com/iam-cms/kadi</a>
      <br>
      <strong>Releases:</strong>
      <a href="https://pypi.org/project/kadi">https://pypi.org/project/kadi</a>
      <br>
      <strong>Developer documentation:</strong>
      <ul class="mb-0">
        <li>
          <strong>Latest</strong> (reflecting the <em>master</em> branch):
          <a href="https://kadi4mat.readthedocs.io/en/latest">https://kadi4mat.readthedocs.io/en/latest</a>
        </li>
        <li>
          <strong>Stable</strong> (reflecting the latest release):
          <a href="https://kadi4mat.readthedocs.io/en/stable">https://kadi4mat.readthedocs.io/en/stable</a>
        </li>
      </ul>

      {{ template_hook("kadi_template_about_after") }}
    </div>

    <div class="card-footer">
      <small class="badge border border-muted font-weight-normal text-muted">Kadi4Mat v{{ version }}</small>
    </div>
  </div>
{% endblock %}
